[submodule "Miki.Framework"]
	path = submodules/miki.framework
	url = https://github.com/mikibot/Miki.Framework
	branch = core-rewrite-
[submodule "submodules/miki.discord"]
	path = submodules/miki.discord
	url = https://github.com/mikibot/miki.discord
[submodule "submodules/retsu"]
	path = submodules/retsu
	url = https://github.com/mikibot/retsu
[submodule "submodules/miki.configuration"]
	path = submodules/miki.configuration
	url = https://github.com/mikibot/miki.configuration
[submodule "submodules/miki.bot.models"]
	path = submodules/miki.bot.models
	url = https://github.com/mikibot/miki.bot.models
[submodule "src/Miki/resources/locales"]
	path = src/Miki/resources/locales
	url = https://github.com/mikibot/bot-translations
