[submodule "Miki.Bot.Models"]
	path = Miki.Bot.Models
	url = https://github.com/Senkobot/Senko.Bot.Models
[submodule "Miki.Framework"]
	path = Miki.Framework
	url = https://github.com/Senkobot/Senko.Framework
	branch = senko
