<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Miki" value="https://pkgs.dev.azure.com/mikibot/Miki/_packaging/mikibot/nuget/v3/index.json" />
  </packageSources>
   <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>